a {
  color: #00B7FF;
}

body {
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  text-align: center;
}

#containerDiv {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  
}

#inputForm {
  border-bottom: 5px solid black; 
}

#noteParagraph {
  text-align: center;
  margin-bottom: 2%;
}

.cityDivs {
  width: 33%;
  padding: .1%;
  margin-bottom: 25px;
  margin-left: 2px;
  margin-right: 2px;
}

.cityDivs h3 {
  font-size: 200%;
    text-align: center;
    text-transform:capitalize;
}

.cityDivs h4 {
    font-size: 120%;
    text-align: center;
}

.cityImageClass {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconImageClass {
  width: 60%;
}  

.jumbotron{
  background-color: #0E1F42;
  height: 20%;
}

.jumboText {
  text-align: center;
  font-size: 5em;
  padding: 3%;
  color: white;
  margin-left: 0px;
  margin-right: 0px;
}

.userDisplayClass {
  text-align: center;
  width:20%;
}

.userIconsDiv {
  display: flex;
  flex-wrap: wrap;
}
